@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Allura-Regular;
  src: url(../assets/fonts/Allura-Regular.otf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Allura-Regular;
  src: url(../assets/fonts/Allura-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat-SemiBold, sans-serif;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 82px;
  box-sizing: content-box;
}
.header .container .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 20px;
  text-decoration: none;
  box-sizing: border-box;
}
.header .container .logo img {
  width: 24px;
}
.header .container .logo span {
  color: #181C29;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  padding: 12px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
}
.header .container .space {
  width: 12px;
  height: 12px;
}
.header .container nav {
  flex-shrink: 0;
}
.header .container nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  list-style: none;
}
.header .container nav .menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.header .container nav .menu .menu-item a {
  color: #181C29;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  padding: 12px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s linear;
}
.header .container nav .menu .menu-item:hover:not(.active) a {
  color: #FF4646;
  background-color: rgba(255, 70, 70, 0.062745098);
  border-radius: 12px;
}
.header .container nav .menu .menu-item.active a {
  color: #FF4646;
  background-color: rgba(255, 70, 70, 0.062745098);
  border-radius: 12px;
  cursor: default;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Allura-Regular;
  src: url(../assets/fonts/Allura-Regular.otf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Allura-Regular;
  src: url(../assets/fonts/Allura-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat-SemiBold, sans-serif;
  padding: 60px 82px;
  box-sizing: content-box;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.footer .container .contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}
.footer .container .contacts .contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 417px;
  background: #ecf3f8;
  text-decoration: none;
}
.footer .container .contacts .contact-card .contact {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #181C29;
  transition: all 0.3s linear;
}
.footer .container .contacts .contact-card span {
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #181C29;
  transition: all 0.3s linear;
}
.footer .container .contacts .contact-card:hover span {
  color: #FF4646;
}
.footer .container .footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.footer .container .footer-info .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.footer .container .footer-info .socials a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.footer .container .footer-info .socials a svg {
  transition: all 0.3s linear;
  stroke: #181C29;
}
.footer .container .footer-info .socials a:hover svg {
  stroke: #FF4646;
}
.footer .container .footer-info p {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 16px;
  line-height: 148%;
  text-align: center;
  color: #181C29;
}
.footer .container .footer-info a {
  font-family: Allura-Regular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
  color: #181C29;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s linear;
}
.footer .container .footer-info a:hover {
  color: #FF4646;
}

html {
  scroll-behavior: smooth;
}

.gifts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat-SemiBold, sans-serif;
  padding: 60px 82px;
  box-sizing: content-box;
  background-image: url("../assets/images/bg/bg-garland.png");
  background-color: #FF4646;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.gifts .container h1 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  max-width: 426px;
}
.gifts .container .tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.gifts .container .tabs input {
  display: none;
}
.gifts .container .tabs input:checked + label {
  border-radius: 12px;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.1254901961);
  cursor: default;
}
.gifts .container .tabs label {
  color: #181C29;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  padding: 12px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.gifts .container .tabs label:hover {
  background-color: rgba(255, 255, 255, 0.1254901961);
  border-radius: 12px;
}
.gifts .container .gift-cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}
.gifts .container .gift-cards-wrapper .gift-card {
  border-radius: 20px;
  width: 310px;
  cursor: pointer;
}
.gifts .container .gift-cards-wrapper .gift-card .gift-card-image {
  background-color: #ecf3f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 230px;
}
.gifts .container .gift-cards-wrapper .gift-card .gift-card-image img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.gifts .container .gift-cards-wrapper .gift-card .gift-card-info {
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  height: 112px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.gifts .container .gift-cards-wrapper .gift-card .gift-card-info .gift-purpose {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4361FF;
  display: inline-block;
  margin-bottom: 8px;
}
.gifts .container .gift-cards-wrapper .gift-card .gift-card-info .gift-purpose.health {
  color: #06A44F;
}
.gifts .container .gift-cards-wrapper .gift-card .gift-card-info .gift-purpose.harmony {
  color: #FF43F7;
}
.gifts .container .gift-cards-wrapper .gift-card .gift-card-info h3 {
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181C29;
  transition: all 0.3s linear;
}
.gifts .container .gift-cards-wrapper .gift-card:hover .gift-card-info h3 {
  color: #FF4646;
}/*# sourceMappingURL=gifts.css.map */