@import "../styles/header/header";

.container {
    max-width: 1440px;
    margin: 0 auto;

}

.hero {
    background-image: url('../assets/images/bg/bg-ball.png'), url('../assets/images/bg/bg-snow.png');
    background-position: center;
    background-size: cover;
    background-color: $primary;
    font-family: Montserrat-SemiBold, sans-serif;

    .container {
        @include flex-column();
        padding: 60px 0;
        box-sizing: border-box;

        .hero-info {
            @include flex-column();
            gap: 12px;
            padding: 60px 0;
            box-sizing: border-box;
            max-width: 429px;

            span {
                @include section();
            }

            h1 {
                @include flex-column();

                span {
                    font-family: Montserrat-SemiBold, sans-serif;
                    font-size: 32px;
                    line-height: 150%;
                    letter-spacing: 0.18em;
                    text-transform: uppercase;
                    text-align: center;
                    color: $white;
                }
            }

            .btn {
                @include btn();
                font-family: Montserrat-SemiBold, sans-serif;
            }
        }
    }
}

.about {
    background-image: url('../assets/images/bg/bg-snow.png');
    background-color: $primary;
    padding: 60px 82px;
    box-sizing: border-box;

    .container {
        @include flex();
        justify-content: center;

        .about-info {
            width: 50%;
            padding: 100px 60px;
            box-sizing: border-box;
            background-color: $white;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;


            .info-wrapper {
                @include flex-column();
                align-items: flex-start;
                gap: 20px;
                max-width: 426px;
                padding: 60px 0;

                span {
                    @include section();
                    color: $primary;
                }

                .about-title {
                    font-family: Montserrat-SemiBold, sans-serif;
                    font-size: 24px;
                    line-height: 152%;
                    letter-spacing: 0.16em;
                    text-transform: uppercase;
                    color: $dark;
                }

                .about-description {
                    font-family: Montserrat-Regular, sans-serif;
                    font-size: 16px;
                    line-height: 148%;
                    color: $dark;
                }
            }
        }

        .about-image {
            background-image: url('../assets/images/santa.png');
            background-position: center;
            background-size: cover;
            height: 528px;
            width: 50%;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

.best-gifts {
    .container {
        @include flex-column();
        background-image: url('../assets/images/bg/bg-snow.png');
        background-color: $primary;
        padding: 60px 82px;
        box-sizing: border-box;

        span {
            @include section();
            display: inline-block;
            margin-bottom: 12px;
        }

        .best-gifts-title {
            @include title();
            margin-bottom: 20px;
        }

        .gift-cards-wrapper {
            @include flex();
            justify-content: center;
            flex-wrap: wrap;
            gap: 12px;

            .git-card {
                border-radius: 20px;
                width: 310px;

                .gift-card-image {
                    background-color: #ecf3f8;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    height: 230px;

                    img {
                        width: 100%;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                    }
                }

                .gift-card-info {
                    padding: 20px 20px 0 20px;
                    box-sizing: border-box;
                    height: 112px;
                    background-color: $white;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;

                    .gift-purpose {
                        font-family: Montserrat-SemiBold, sans-serif;
                        font-size: 12px;
                        line-height: 130%;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: $purple;
                        display: inline-block;
                        margin-bottom: 8px;

                        &.health {
                            color: $green;
                        }

                        &.harmony {
                            color: $pink;
                        }
                    }

                    h3 {
                        font-size: 16px;
                        line-height: 152%;
                        letter-spacing: 0.08em;
                        text-transform: uppercase;
                        color: $dark;
                    }
                }
            }
        }
    }
}