@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Allura-Regular;
  src: url(../assets/fonts/Allura-Regular.otf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Allura-Regular;
  src: url(../assets/fonts/Allura-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat-SemiBold, sans-serif;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 82px;
  box-sizing: content-box;
}
.header .container .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 20px;
  text-decoration: none;
  box-sizing: border-box;
}
.header .container .logo img {
  width: 24px;
}
.header .container .logo span {
  color: #181C29;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.header .container .space {
  width: 12px;
  height: 12px;
}
.header .container nav {
  flex-shrink: 0;
}
.header .container nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  list-style: none;
}
.header .container nav .menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.header .container nav .menu .menu-item a {
  color: #181C29;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 20px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.header .container nav .menu .menu-item:hover a {
  color: #FF4646;
  background-color: rgba(255, 70, 70, 0.062745098);
  border-radius: 12px;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Allura-Regular;
  src: url(../assets/fonts/Allura-Regular.otf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Allura-Regular;
  src: url(../assets/fonts/Allura-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat-SemiBold, sans-serif;
  padding: 60px 82px;
  box-sizing: content-box;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.footer .container .contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.footer .container .contacts .contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 417px;
  background: #ecf3f8;
  text-decoration: none;
}
.footer .container .contacts .contact-card .contact {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #181C29;
  transition: all 0.3s linear;
}
.footer .container .contacts .contact-card span {
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #181C29;
  transition: all 0.3s linear;
}
.footer .container .contacts .contact-card:hover span {
  color: #FF4646;
}
.footer .container .footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.footer .container .footer-info .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.footer .container .footer-info .socials a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.footer .container .footer-info .socials a svg {
  transition: all 0.3s linear;
  stroke: #181C29;
}
.footer .container .footer-info .socials a:hover svg {
  stroke: #FF4646;
}
.footer .container .footer-info p {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 16px;
  line-height: 148%;
  text-align: center;
  color: #181C29;
}
.footer .container .footer-info a {
  font-family: Allura-Regular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
  color: #181C29;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s linear;
}
.footer .container .footer-info a:hover {
  color: #FF4646;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat-SemiBold, sans-serif;
  padding: 60px 82px;
  box-sizing: content-box;
  background-position: center;
  background-size: cover;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/bg/bg-ball.png"), url("../assets/images/bg/bg-snow.png");
  background-color: #FF4646;
}
.hero .container .hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 60px 0;
  box-sizing: border-box;
  max-width: 429px;
}
.hero .container .hero-info h4 {
  font-family: Allura-Regular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
}
.hero .container .hero-info h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .container .hero-info h1 span {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.hero .container .hero-info .btn {
  padding: 20px 32px;
  border-radius: 20px;
  /*    width: 236px; */
  background-color: #181C29;
  border: none;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.6s linear;
}
.hero .container .hero-info .btn:hover {
  color: #181C29;
  background-color: #FFFFFF;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background-image: url("../assets/images/bg/bg-snow.png");
  background-color: #FF4646;
}
.about .container .about-info {
  width: 50%;
  padding: 100px 60px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.about .container .about-info .info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 426px;
  padding: 60px 0;
}
.about .container .about-info .info-wrapper h4 {
  font-family: Allura-Regular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
  color: #FF4646;
}
.about .container .about-info .info-wrapper .about-title {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #181C29;
}
.about .container .about-info .info-wrapper .about-description {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 16px;
  line-height: 148%;
  color: #181C29;
}
.about .container .about-image {
  background-image: url("../assets/images/santa.png");
  background-position: center;
  background-size: cover;
  min-height: 528px;
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.slider .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #FF4646;
  overflow-x: hidden;
}
.slider .container .slider-info h4 {
  font-family: Allura-Regular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.slider .container .slider-info h2 {
  font-family: Montserrat-SemiBold, sans-serif;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.slider .container .sliders-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  align-self: flex-start;
}
.slider .container .sliders-wrapper .slider-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.slider .container .sliders-wrapper .slider-item span {
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.slider .container .sliders-wrapper .slider-item .slider-image {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-image: url("../assets/images/sliders/snowman.png");
  background-position: center;
  background-size: cover;
}
.slider .container .sliders-wrapper .slider-item:nth-child(2) .slider-image {
  background-image: url("../assets/images/sliders/christmas-trees.png");
}
.slider .container .sliders-wrapper .slider-item:nth-child(3) .slider-image {
  background-image: url("../assets/images/sliders/christmas-tree-ball.png");
}
.slider .container .sliders-wrapper .slider-item:last-child {
  background-image: url("../assets/images/sliders/fairytale-house.png");
}
.slider .container .slider-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: flex-end;
}
.slider .container .slider-btns .slider-btn {
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  border-radius: 20px;
  width: 56px;
  height: 56px;
  background-color: transparent;
  cursor: default;
}
.slider .container .slider-btns .slider-btn svg {
  stroke: rgba(255, 255, 255, 0.2509803922);
  transition: all 0.3s linear;
}
.slider .container .slider-btns .slider-btn.active {
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: all 0.5s linear;
}
.slider .container .slider-btns .slider-btn.active svg {
  stroke: #FFFFFF;
}
.slider .container .slider-btns .slider-btn.active:hover {
  background-color: #FFFFFF;
}
.slider .container .slider-btns .slider-btn.active:hover svg {
  stroke: #FF4646;
}

.best-gifts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/bg/bg-snow.png");
  background-color: #FF4646;
}
.best-gifts .container h4 {
  font-family: Allura-Regular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 12px;
}
.best-gifts .container .best-gifts-title {
  font-family: Montserrat-SemiBold, sans-serif;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.best-gifts .container .gift-cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.best-gifts .container .gift-cards-wrapper .gift-card {
  border-radius: 20px;
  width: 310px;
  cursor: pointer;
  /*   border-radius: 20px;
  width: 310px;

  .gift-card-image {
      background-color: #ecf3f8;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 230px;

      img {
          width: 100%;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
      }
  }

  .gift-card-info {
      padding: 20px 20px 0 20px;
      box-sizing: border-box;
      height: 112px;
      background-color: $white;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .gift-purpose {
          font-size: 12px;
          line-height: 130%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: $purple;
          display: inline-block;
          margin-bottom: 8px;

          &.health {
              color: $green;
          }

          &.harmony {
              color: $pink;
          }
      }

      h3 {
          font-size: 16px;
          line-height: 152%;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: $dark;
      }
  } */
}
.best-gifts .container .gift-cards-wrapper .gift-card .gift-card-image {
  background-color: #ecf3f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 230px;
}
.best-gifts .container .gift-cards-wrapper .gift-card .gift-card-image img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.best-gifts .container .gift-cards-wrapper .gift-card .gift-card-info {
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  height: 112px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.best-gifts .container .gift-cards-wrapper .gift-card .gift-card-info .gift-purpose {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4361FF;
  display: inline-block;
  margin-bottom: 8px;
}
.best-gifts .container .gift-cards-wrapper .gift-card .gift-card-info .gift-purpose.health {
  color: #06A44F;
}
.best-gifts .container .gift-cards-wrapper .gift-card .gift-card-info .gift-purpose.harmony {
  color: #FF43F7;
}
.best-gifts .container .gift-cards-wrapper .gift-card .gift-card-info h3 {
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181C29;
  transition: all 0.3s linear;
}
.best-gifts .container .gift-cards-wrapper .gift-card:hover .gift-card-info h3 {
  color: #FF4646;
}

.cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 82px;
  box-sizing: content-box;
  background-image: url("../assets/images/bg/bg-snow.png"), url("../assets/images/bg/bg-forest.png");
  background-color: #FF4646;
}
.cta .container .cta-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 426px;
  padding: 60px 0;
  box-sizing: border-box;
}
.cta .container .cta-info .cta-title {
  font-family: Montserrat-SemiBold, sans-serif;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.cta .container .cta-info .btn {
  padding: 20px 32px;
  border-radius: 20px;
  /*    width: 236px; */
  background-color: #181C29;
  border: none;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.6s linear;
}
.cta .container .cta-info .btn:hover {
  color: #181C29;
  background-color: #FFFFFF;
}
.cta .container .cta-info .timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cta .container .cta-info .timer-wrapper h4 {
  font-family: Allura-Regular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
}
.cta .container .cta-info .timer-wrapper .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 12px 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2509803922);
}
.cta .container .cta-info .timer-wrapper .timer .timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
}
.cta .container .cta-info .timer-wrapper .timer .timer-item .count {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.cta .container .cta-info .timer-wrapper .timer .timer-item .time-unit {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.cta .container .cta-info .timer-wrapper .timer .border {
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2509803922);
}/*# sourceMappingURL=home.css.map */