@import "../styles/mixins.scss";

@font-face {
    font-family: "Edge-Bold";
    src: url(../assets/fonts/EdgeDisplay-Bold.otf);
}

@font-face {
    font-family: "Edge-Regular";
    src: url(../assets/fonts/EdgeDisplay-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
}

$main-color: #808080;
$bg-color: #ffffff;
$light-color: #fbe4b7;
$body-bg-color: #fdeed0;
$dark-color: #524d44;

body {

    @include flex();
    background-color: $body-bg-color;


    @media screen and (max-width: 580px) {
        min-height: 100dvh;
    }

    &.dark {
        background-color: $dark-color;
    }

    .container {
        @include flex();
        padding: 15px 25px;
        max-width: 1440px;
        gap: 50px;
        margin: 0 auto;
        /*   max-height: 640px; */
        border: 2px solid gray;
        border-radius: 5px;
        font-family: Edge-Regular, sans-serif;
        font-size: 18px;

        @media screen and (max-width: 1060px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
        }

        @media screen and (max-width: 580px) {
            padding: 10px;
            gap: 15px;
        }

        .burger {
            cursor: pointer;
            align-self: flex-end;
            border: 1px solid black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            opacity: 0;
            z-index: 5;
            position: relative;
            visibility: hidden;
            transition: opacity 0.3s linear;

            @media screen and (max-width: 580px) {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.3s linear;
            }

            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 15px;
                top: 12px;
                left: 7px;
                background-color: black;
            }

            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 15px;
                bottom: 12px;
                left: 7px;
                background-color: black;
            }
        }

        .menu {
            @include flex-column();
            align-self: start;
            gap: 1em;
            max-width: 320px;

            @media screen and (max-width: 1060px) {
                align-self: unset;
            }

            @media screen and (max-width: 580px) {
                opacity: 0;
                visibility: hidden;
                position: fixed;
                max-width: 580px;
                gap: 15px;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                align-self: center;
                margin: 0;
                top: 0;
                left: 0;
                background: #000000c9;
                z-index: 5;
                transition: all 0.3s linear;

                &.open {
                    opacity: 1;
                    transition: all 0.3s linear;
                    visibility: visible;
                    cursor: pointer;
                }
            }

            .selects-wrapper {
                @include flex();
                gap: 15px;

                select {
                    width: 150px;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: $light-color;
                    outline: none;
                    font-family: Edge-Regular, sans-serif;
                    font-size: 18px;

                    &.dark {
                        background-color: $dark-color;
                        color: $light-color;
                    }

                    @media screen and (max-width: 580px) {
                        font-size: 14px;
                    }
                }
            }

            .btns-wrapper {
                @include flex-column();
                gap: 0.5em;

                button {
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: 1px solid gray;
                    font-family: Edge-Regular, sans-serif;
                    font-size: 18px;
                    background-color: $light-color;
                    outline: none;
                    cursor: pointer;

                    @media screen and (max-width: 580px) {
                        font-size: 14px;
                    }

                    &.dark {
                        background-color: $dark-color;
                        color: $light-color;
                    }
                }
            }

            .theme {
                max-width: 310px;
                height: 67px;

                .theme-names {
                    @include flex();
                    justify-content: space-between;
                    padding: 5px 10px;
                    gap: 10px;
                    font-size: 14px;

                    @media screen and (max-width: 580px) {
                        font-size: 12px;
                    }

                    .light-name {
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid $main-color;
                        background-color: $light-color;
                    }

                    .dark-name {
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid $main-color;
                        background-color: $dark-color;
                        color: $light-color;
                        /* 
                        &.dark {
                            color: black;
                        } */
                    }
                }

                .choice-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .theme-label {
                        display: inline-block;
                        width: 100px;
                        position: relative;

                        input {
                            position: absolute;
                            opacity: 0;
                            width: 0;
                            height: 0;
                            appearance: none;

                            &:checked+.span-inner::before {
                                background-color: $dark-color;
                            }

                            &:checked+.span-inner::after {
                                background-color: $light-color;
                                left: 64px;
                            }
                        }

                        .span-inner::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100px;
                            height: 36px;
                            background-color: #fff;
                            display: block;
                            border-radius: 20px;
                            border: 1px solid $main-color;
                            transition: background-color 0.3s linear;

                            @media screen and (max-width: 580px) {
                                width: 90px;
                                height: 28px;
                            }
                        }

                        .span-inner::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            border: 1px solid $main-color;
                            background-color: $light-color;
                            top: 3px;
                            left: 3px;
                            cursor: pointer;
                            transition: all 0.3s linear;

                            @media screen and (max-width: 580px) {
                                width: 23px;
                                height: 23px;
                            }
                        }
                    }

                }
            }

            .score-table-wrapper {
                margin-top: 10px;

                .table-name {
                    text-align: center;
                    margin-bottom: 5px;
                    border-bottom: 2px solid $main-color;

                    &.dark {
                        color: $light-color;
                    }
                }

                table {
                    font-size: 16px;

                    @media screen and (max-width: 580px) {
                        font-size: 14px;
                    }

                    thead {
                        tr {
                            td {
                                font-weight: bold;
                            }
                        }
                    }

                    tr {
                        td {
                            padding: 3px;
                        }
                    }

                    &.dark {
                        color: $light-color;
                    }
                }

                @media screen and (max-width: 580px) {
                    background-color: $bg-color;
                    border-radius: 5px;
                    padding-top: 5px;

                    &.dark {
                        background-color: transparent;
                    }
                }

                &.dark {
                    @media screen and (max-width: 580px) {
                        background-color: transparent;
                    }
                }
            }
        }

        .field-wrapper {
            @include flex-column();
            align-self: start;
            gap: 10px;
            max-width: 560px;

            @media screen and (max-width: 1060px) {
                align-self: unset;
            }

            .game-name {
                font-family: Edge-Bold, sans-serif;
                font-size: 22px;

                &.dark {
                    color: $light-color;
                }

            }

            .timer {
                &.dark {
                    color: $light-color;
                }
            }

            .field {
                border-collapse: collapse;
                margin-bottom: 20px;
                background-color: $bg-color;

                tr {
                    &:first-child {
                        border-bottom: 3px solid $main-color;
                    }

                    &:not(:last-child):nth-child(5n + 1) {
                        border-bottom: 3px solid $main-color;

                        .left-cell {
                            border-bottom: none;
                        }
                    }

                    &:last-child {
                        border-bottom: 1px solid $main-color;

                        td:first-child {
                            border-bottom: none;
                        }
                    }

                    td {
                        padding: 0;
                        /*  width: 5%;
                        height: 5%; */
                        box-sizing: border-box;
                        cursor: pointer;
                        border: 1px solid $main-color;
                        box-sizing: border-box;
                        position: relative;

                        &.empty {
                            border-right: 3px solid $main-color;
                            cursor: none;
                        }

                        &.left-cell {
                            text-align: right;
                            border-right: 2px solid $main-color;
                            width: auto;
                            display: flex;
                            justify-content: flex-end;
                            text-align: center;
                            border: none;
                            border-bottom: 1px solid $main-color;

                            .left {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 25px;
                                height: 25px;
                                border-left: 1px solid $main-color;

                                @media screen and (max-width: 580px) {
                                    width: 20px;
                                    height: 20px;
                                }


                                &:nth-last-child(5n) {
                                    border-left: 3px solid $main-color;
                                }

                                &:first-child {
                                    border-left: 1px solid $main-color;
                                }

                                &.cross:before {
                                    content: "";
                                    position: absolute;
                                    width: 2px;
                                    height: 30px;
                                    background-color: black;
                                    transform: rotate(45deg);
                                }

                                &.cross:after {
                                    content: "";
                                    position: absolute;
                                    width: 2px;
                                    height: 30px;
                                    background-color: black;
                                    transform: rotate(-45deg);
                                }
                            }
                        }

                        &.top-cell {
                            height: auto;
                            vertical-align: bottom;
                            text-align: center;

                            .top {
                                @include flex();
                                /*  display: flex;
                                align-items: center;
                                justify-content: center; */
                                width: 25px;
                                height: 25px;
                                border-top: 1px solid $main-color;

                                @media screen and (max-width: 580px) {
                                    width: 20px;
                                    height: 20px;
                                }

                                &:nth-last-child(5n) {
                                    border-top: 3px solid $main-color;
                                }

                                &:first-child {
                                    border-top: none;
                                }

                                &.cross:before {
                                    content: "";
                                    position: absolute;
                                    width: 2px;
                                    height: 30px;
                                    background-color: black;
                                    transform: rotate(45deg);
                                }

                                &.cross:after {
                                    content: "";
                                    position: absolute;
                                    width: 2px;
                                    height: 30px;
                                    background-color: black;
                                    transform: rotate(-45deg);
                                }
                            }
                        }

                        &.not:before {
                            content: "";
                            position: absolute;
                            top: -2px;
                            left: 11px;
                            width: 1px;
                            height: 30px;
                            background-color: $main-color;
                            transform: rotate(45deg);
                        }

                        &.not:after {
                            content: "";
                            position: absolute;
                            top: -2px;
                            left: 11px;
                            width: 1px;
                            height: 30px;
                            background-color: $main-color;
                            transform: rotate(-45deg);
                        }

                        &:nth-child(5n + 1) {
                            border-right: 3px solid $main-color;

                            &.left-cell {
                                border-right: 2px solid $main-color;
                            }
                        }

                        &:last-child {
                            border-right: 2px solid $main-color;
                        }

                        &.filled {
                            background-color: black;

                            &.dark {
                                background-color: $light-color;
                            }
                        }
                    }
                }

                &.dark {
                    background-color: #313030cc;
                    color: $light-color;
                }
            }
        }
    }

    .popup-wrapper {
        @include flex();
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        padding: 20px;
        z-index: 10;
        border: 2px solid black;
        visibility: hidden;
        opacity: 0;
        transition: all .6s linear;

        &.open {
            visibility: visible;
            opacity: 1;
        }

        .modal {
            @include flex();
            flex-direction: column;
            max-width: 70%;
            padding: 2.5em;
            border-radius: 15px;
            background: #f3ecec;
            gap: 20px;
            box-sizing: border-box;
            cursor: pointer;
            font-family: Edge-Regular, sans-serif;
            font-size: 26px;
            position: relative;

            &.dark {
                background-color: $main-color;
                color: $light-color;

                &:before {
                    background-color: $light-color;
                }

                &:after {
                    background-color: $light-color;
                }
            }

            .close-btn {
                width: 25px;
                height: 25px;
                position: absolute;
                top: 20px;
                right: 20px;

                &:before {
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: 11px;
                    width: 1px;
                    height: 30px;
                    background-color: black;
                    transform: rotate(45deg);
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: 11px;
                    width: 1px;
                    height: 30px;
                    background-color: black;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}