@mixin flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin selector() {
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

@mixin btn {
    width: 150px;
    height: 45px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 14px;
    background-color: #fbe4b7;
    outline: none;
    cursor: pointer;
    text-align: center;

    @media screen and (max-width: 569px) {
        font-size: 12px;
    }

    @media screen and (max-width: 520px) {
        height: 40px;
        font-size: 11px;
    }
}