@import "../colors/colors";

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin header-item {
    color: $dark;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@mixin btn {
    padding: 20px 32px;
    border-radius: 20px;
    width: 236px;
    background-color: $dark;
    border: none;

    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: $white;
}